app/logs
app/*.log
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*
app/pnpm-debug.log*
app/lerna-debug.log*
app/node_modules
app/dist
app/dist-ssr
app/dist-electron
app/release
app/*.local
app/.vscode/.debug.env
app/.idea
app/.DS_Store
app/*.suo
app/*.ntvs*
app/*.njsproj
app/*.sln
app/*.sw?
app/package-lock.json
app/pnpm-lock.yaml
app/yarn.lock
app/.vscode

/backend/node_modules
/backend/songs
/backend/erd
/backend/dist/

*.env
.vscode